h1
{
    font-weight: bold;
}
.Fondo_Index
{
    background-image: url(img/Estadios.jpg);
    height: 635px;
    width: 1900px;
}
.Texto_Descripcion
{
    font-size: 1.5em;
}
.Pie_Pagina
{
    background-color: grey;
    color: white;
    text-align: center;
}
.Tit_Pag1
{
    font-weight: bold;
    color: green;
}

.Fondo_pag1
{
    background-image: url(img/Bombonera.jpg);
    height: 596px;
    width: 1060px;
}
.Estilo_pag1
{
    font-style: italic;
    font-family: courier;
    color: green;
    text-align: justify;
}